body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, select, button, textarea, p, blockquote, table, th, td {
    margin: 0;
    padding: 0;
    }
    body {
        font-size: 14px;
        line-height: 1.4;
        font-family: "Roboto", "Noto Sans KR", "PingFang SC", "Apple SD Gothic Neo", "Microsoft YaHei UI", "Malgun Gothic", sans-serif;
        
        color: #000;
        
    }
    #wrapper {
        width:100%;

        position: relative;
        overflow: hidden;
        min-height: 100vh;
        background-color: #f5f3f3;
    }
    header {
        margin: 0 auto;
        width: 1000px;
        height: 150px;    
        border-bottom: 1px cadetblue ;       
    }
    #visual {
        height: 550px;
        background-color: #d5d0d0;
    }
    #iconMenu {
        margin: 0 auto;
        width: 1000px;
        height: 250px;
        background-color: aquamarine;
    }
    #today {
        margin: 0 auto;
        width: 1000px;
        height: 550px;
        background-color: bisque;
    }
    #recom {
        margin: 0 auto;
        width: 1000px;
        height: 550px;
        background-color:blueviolet;
    }
    #event {
        margin: 0 auto;
        width: 1000px;
        height: 550px;
        background-color: bisque;
    }
    footer {
        width:100%;
        
        height: 200px;
        background-color: rgb(153, 104, 43);
    }

    footer .box{
        margin: 0 auto;
        width: 1000px;
     }